*{
    padding: 0;
}
html    {
    font-size: 16px;
    line-height: 1.4px;
}
body    {
            background-color: black;
        }


.navbar {
    display: inline-flex;
    height: 76px;
    width: 1100px;
    background-color: dimgrey;
    margin-top: -5px;
    margin-left: 50px;
    position:fixed;
    box-shadow: 0 0 10px 0 rgb(233, 232, 232);
     
}
h1      {
    width: 500px;
    margin-top: 22px;
}

.Docp {
    margin-top: 15px;
    font-style: oblique;
    margin-left: 50px;
    width: 100%;
    
}

.Docp  span   {
                color: white;
            }
 .Docp  span:hover   {
                color:black
                }


.leo    {
            text-decoration: none;
            color: black;
            font-family: sans-serif;  
        }
.leo:hover    { 
                color: white;
            }

.navbar    {
    float: right;
}
.navtxt    {
 float: right;
 margin-top: -19px;
 list-style: none;
 display:flex ;
 margin-right: 50px;
 font-style: oblique;
 font-size: 15px;
 font-weight: 500;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 
 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
}
.Home      {
    color: black;
  margin-right: 12px;
  text-decoration: none;
}
.navtxt :hover .Home  {
            color: white;
                }
.Career     {
    color: black;
    margin-right: 12px;
    text-decoration: none;
}    
.Career:hover{
    color: white;
}    

.dep     {
    color: white;
  margin-right: 12px;
  text-decoration: none;
}
.dep:hover {

color:black;

}
.dep       {
cursor: pointer;   

}
/* end of navbar */

.sidebar      {
            border-radius:5px ;
            box-shadow: 0 0 10px 0 rgb(233, 232, 232);
            margin-top: 90px;
            margin-left: 50px;
            width: 300px;
            height: 100%;
            background-color:dimgrey;
            position: absolute;
            position: fixed;

                }
.search {
        margin-left: 10px;
        margin-top: 20px;
        
            }
.search button  {
            height: 25px;
            width: 20px;
            opacity: 0.7;
            border-radius: 5px;
            border-style: none;
            color:dimgray;
            background-color: black;
            }
.search input   {
                background-color: black;
                height: 25px;
                width: 250px;
                opacity: 0.7;
                border-radius: 5px;
                border-style: none;
                color: black;
                font-size: 15px;
                text-align: center;
            }
.bar {
    /* background-color: black; */
    height:40px ;
    margin-top:8px;
    margin-left:0px;
    width: 300px;
    /* border-radius: 7px; */
    /* box-shadow: 0 0 10px 0 black; */
    }
.fa-cart-shopping {
            margin-top: -8px;
            }
.bar marquee  {
            font-style: italic;
            font-size: 15px; 
            color:white;
            height: 20px;
            width: 300px;
            line-height: 20px;
            /* opacity: 0.7; */
        }
.Listbar    {
            opacity: 0.7;
            height: 400px;
            width: 250px;
            background-color: black;
            margin-top:15px;
            margin-left:20px;
            border-radius: 17px;
            border-style:inherit;
            border-color: dimgray;
            box-shadow: 0 0 10px 0 black;
            }
.Listbar2    {
            margin-top:0px;
            margin-left:20px;
            height: 300px;
            width: 200px;
            position: absolute;
         }
.Listbar2 a {
            color: white;
            display: grid;
            line-height: 35px;
            list-style: none;
            text-decoration: none;
            font-size: 20px;
        }

.maincart-cont {
            
            padding: 20px;
            display: flex;
            grid-template-columns: repeat(auto-fit minmax(20rem,1fr));
            }
.cart-items{
        
        box-shadow: var(--box-shadow);
        text-align: center;
        padding:16px;
        border-radius: 5px;
        color:white;
        line-height: 6px;
    }
.cart-items img {
    width: 120px;
    border-radius: 5px;
}

.add-cart   {
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: var(--box-shadow);
    color: white;
    border-radius: 5px;
    border-style: ridge;
    font-size:small;
}
.add-cart:hover    {
        color: black;
        background-color: aliceblue;
        box-shadow: var(--inner-box-shadow);
}
/*....... cart page.......*/
.product-cont     {
    
    justify-content: center;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    max-width: 1200px;
    min-height:550px;
    background-color:dimgray;
    position: absolute;
    margin-left: 50px;
    margin-top: 90px;
    border-radius:5px ;
    box-shadow: 0 0 10px 0 rgb(233, 232, 232);
}
.product-header {
    /* width: 100%; */
    display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 185px;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
    
} 
.product-title{
    /* width: 20%; */
    font-size: 20px;
  font-weight: bold;
}

.price,
.quantity,
.total {
  font-size: 20px;
  font-weight: bold;
  /* text-align: center; */
}

.product-cont p{
    
    width:300px;
    height: 300px;
    box-shadow: var(--box-shadow);
    color: orangered;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 50%;
    display: flex;;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.product-cont p:hover{
    box-shadow: var(--inner-box-shadow);
}
.product-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: .5rem 1rem;
    box-shadow: var(--box-shadow);
    margin: 1rem 0;
    align-items: center;
    border-radius: 10px;
}
.products{
    display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.product{
    box-shadow: var(--inner-box-shadow);
   
    border-radius: 10px;
    /* position: relative; */

    display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;

}

.product-image img {
    max-width: 80px;
    height: auto;
  }

/* .product p{
    position: absolute;
    left: 0;
    top: 0;
} */

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .cart-footer{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
  }

  
  .product-quantity input {
    width: 50px;
    padding: 5
  }  
.quantity span{
    font-weight: bold ;
    color: red;
    text-transform: capitalize;
}
.quantity span{
    font-size: 25px;
    font-weight: bold;
    margin: .5rem;
    color: aqua;
}
.cart-cont img{
    width: 100%;
    padding: .5rem;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    margin: 1rem 0;

}
.basketTotalContainer{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 10px 0;
        box-shadow: var(--box-shadow);
}
.basketTotal-title{
    width:30% ;
}